---
import Layout from "../layouts/Layout_page.astro";
---

<Layout>
    <body id="body">
        <section id="portfolio_page">
            <div class="model_group">
                <video
                    controls=""
                    autoplay=""
                    loop=""
                    class="blendervideo sargo"
                >
                    <source src="/01E_03_pescao.mov" type="video/mp4" />
                </video>
                <video
                    controls=""
                    autoplay=""
                    loop=""
                    class="blendervideo jelly"
                >
                    <source src="/01E_04_medusa.mov" type="video/mp4" />
                </video>
            </div>

            <div class="model_group">
                <video
                    controls=""
                    autoplay=""
                    loop=""
                    class="blendervideo birds"
                >
                    <source src="/01E_02_flamenco.mov" type="video/mp4" />
                </video>
                <div class="duck_title_group">
                    <h1 class="page_3d_title">
                        Made with blender (modeling, texturing, rigging & anim)
                    </h1>
                    <video
                        controls=""
                        autoplay=""
                        loop=""
                        class="blendervideo birds"
                    >
                        <source src="/01E_01_pato.mp4" type="video/mp4" />
                    </video>
                </div>
            </div>
        </section>
    </body>
</Layout>
