---
import Layout from "../layouts/Layout_page.astro";
---

<Layout>
    <body id="body">
        <h1 class="page_section_title">Animation</h1>

        <section id="portfolio_page">
            <video controls autoplay class="reel" preload="auto">
                <source
                    src="https://drive.google.com/uc?export=download&id=1-HXscS9m0klVvwkfV3twyLOf_oiI5-0k"
                    type="video/mp4"
                />
            </video>
        </section>
    </body>
</Layout>
