---
import Layout from "../layouts/Layout_page.astro";
---

<Layout>
    <body id="body">
        <h1 class="page_section_title">Animation</h1>

        <section id="portfolio_page">
            <video controls autoplay class="reel" preload="auto">
                <source
                    src="/public/MoiraFramos_REEL_2021.mp4"
                    type="video/mp4"
                />
            </video>
        </section>
    </body>
</Layout>
