---
import Layout from "../layouts/Layout_page.astro";
---

<Layout>
    <body id="body">
        <section class="portfolio_page">
            <h1 class="page_section_title">Gurrú backgrounds</h1>
            <img class="pf_img" src="/public/08A_01_BG.png" />
            <img class="pf_img" src="/public/08A_02_BG.png" />
            <img class="pf_img" src="/public/08A_03_BG.png" />
            <img class="pf_img" src="/public/08A_04_BG.png" />
            <h1 class="page_section_title">Silly Sundays backgrounds</h1>
            <img class="pf_img" src="/public/08B_01_BG.png" />
            <img class="pf_img" src="/public/08B_02_BG.png" />
            <img class="pf_img" src="/public/08B_03_BG.png" />
            <img class="pf_img" src="/public/08B_04_BG.png" />
            <img class="pf_img" src="/public/08B_05_BG.png" />
            <img class="pf_img" src="/public/08B_06_BG.png" />
        </section>
    </body>
</Layout>
