---
import Layout from "../layouts/Layout_page.astro";
import VisdevMenu from "../components/VisdevMenu.astro";

const currentPath = Astro.url.pathname;
---

<Layout>
    <body id="body">
        <section class="portfolio_page">
            <VisdevMenu currentPath={currentPath} />
            <br />
            <br />
            <br />
            <br />
            <br />

            <img class="pf_img" src="/public/09A_10_VISDEV.png" />
            <img class="pf_img" src="/public/09A_11_VISDEV.png" />
            <img class="pf_img" src="/public/09A_02_VISDEV.png" />
            <img class="pf_img" src="/public/09A_03_VISDEV.png" />
            <img class="pf_img" src="/public/09A_04_VISDEV.png" />
            <img class="pf_img" src="/public/09A_05_VISDEV.png" />
            <img class="pf_img" src="/public/09A_06_VISDEV.png" />
            <img class="pf_img" src="/public/09A_01_VISDEV.png" />
        </section>
    </body>
</Layout>
