---
import Layout from "../layouts/Layout_page.astro";
---

<Layout>
    <body id="body">
        <h2 class="bio_text">
            To whom it may concern,
            <br />
            <br />
            I'm a four year experienced artist specialized in layout, both backgrounds
            and posing, and with experience in visual development as well. I've worked
            for sudios such as Cartoon saloon and doghead animation among others.
            I'm currently based in Madrid (Spain) available to work online or on-site.
            <br />
            <br />
            Hope you like my portfolio, and thank you so much for your time.
            <br />
            <br /> Kind regards,
            <br />
            <br /> Moira Framos.
        </h2>
        <img class="portfolio" src="/public/CV_MoiraFramos_v05.jpg" />
    </body>
</Layout>
