---
import Layout from "../layouts/Layout_main.astro";
---

<Layout>
	<body id="body">
		<div class="MAINPAGE">
			<div class="firma_GROUP">
				<img class="firma Asize" src="/public/01A_firma.png" />
			</div>

			<div class="meanim_GROUP">
				<a id="link_cv" class="Asize hover" href="/cv"> </a>
				<img class="meanim Asize" src="/public/02A_01meanim.webp" />
				<img class="meanim Asize" src="/public/02A_02meanim.webp" />
				<img class="meanim Asize" src="/public/02A_03meanim.webp" />
				<img class="meanim Asize" src="/public/02A_02meanim.webp" />
			</div>

			<div class="props_GROUP">
				<a id="link_prop01" class="Asize hover" href="/animation"></a>
				<a id="link_prop02" class="Asize hover" href="/bg"></a>
				<a id="link_prop03" class="Asize hover" href="/storyboard"></a>
				<a id="link_prop04" class="Asize hover" href="/layout"></a>
				<a id="link_prop05" class="Asize hover" href="/visdev"></a>
				<a id="link_prop06" class="Asize hover" href="/3D"></a>
				<img class="prop01 prop Asize" src="/public/03A_01props.png" />
				<img
					class="prop01_1 prop Asize"
					src="/public/03A_01_1props.png"
				/>
				<img class="prop02 prop Asize" src="/public/03A_02props.png" />
				<img class="prop03 prop Asize" src="/public/03A_03props.png" />
				<img class="prop04 prop Asize" src="/public/03A_04props.png" />
				<img class="prop05 prop Asize" src="/public/03A_05props.png" />
				<img class="prop06 prop Asize" src="/public/03A_06props.png" />
				<h1 id="title_prop01" class="Asize prop prop_text">
					Animation
				</h1>
				<h1 id="title_prop02" class="Asize prop prop_text">BG</h1>
				<h1 id="title_prop03" class="Asize prop prop_text">Story</h1>
				<h1 id="title_prop04" class="Asize prop prop_text">Layout</h1>
				<h1 id="title_prop05" class="Asize prop prop_text">Vis.dev.</h1>
				<h1 id="title_prop06" class="Asize prop prop_text">3D</h1>
			</div>

			<div class="otherartists_GROUP">
				<a id="link_people" class="Asize hover" href="/people"></a>
				<img class="people_icon Asize" src="/public/04A_people.png" />
			</div>

			<div class="social_icons_GROUP">
				<a id="link_email" class="Asize hover" href="/contact"></a>
				<a
					id="link_insta"
					class="Asize hover"
					target="_blank"
					href="https://www.instagram.com/moira_framos/"></a>
				<a
					id="link_in"
					class="Asize hover"
					target="_blank"
					href="https://www.linkedin.com/in/moiraframos/"></a>
				<a
					id="link_git"
					class="Asize hover"
					target="_blank"
					href="https://github.com/moiraframos"></a>
				<img
					class="email social_icon Asize"
					src="/public/05A_01email.png"
				/>
				<img
					class="insta social_icon Asize"
					src="/public/05A_02_insta.png"
				/>
				<img class="in social_icon Asize" src="/public/05A_03_in.png" />
				<img
					class="git social_icon Asize"
					src="/public/05A_04_git.png"
				/>
			</div>

			<div class="BG_GROUP">
				<img class="bg Asize" src="/public/06A_bg.png" />
			</div>
		</div>
	</body>
</Layout>
