---
import Layout from "../layouts/Layout_page.astro";
---

<Layout>
    <body id="body">
        <h1 class="page_section_title">Layout</h1>
        <section class="portfolio_page">
            <img class="pf_img" src="/10A_01_LAYOUT.png" />
            <!--- layout and posing -/-->
        </section>
    </body>
</Layout>
