---
import Layout from "../layouts/Layout_page.astro";
---

<Layout>
    <body id="body">
        <section id="porftolio_page">
            <h1 class="page_section_title">People</h1>
            <div class="people">
                <a
                    id="profile_link"
                    class="artist_group_hover"
                    target="_blank"
                    href="https://www.crissto.dev/"
                >
                    <img class="artist_icon" src="/01D_01_cristo_logo.png" />
                    <h2 class="artist_name">Crissto</h2>
                    <p class="artist_type">Software <br /> developer</p>
                </a>

                <a
                    id="profile_link"
                    class="artist_group_hover"
                    target="_blank"
                    href="https://paulacanizaresportfolio.weebly.com/"
                >
                    <img class="artist_icon" src="/01D_02_pyu_logo.png" />
                    <h2 class="artist_name">Pyu</h2>
                    <p class="artist_type">2D Animator <br /> & ilustrator</p>
                </a>

                <a
                    id="profile_link"
                    class="artist_group_hover"
                    target="_blank"
                    href="http://mariamiranzoart.myportfolio.com/"
                >
                    <img class="artist_icon" src="/01D_03_maria_logo.png" />
                    <h2 class="artist_name">María Miranzo</h2>
                    <p class="artist_type">Storyboard <br /> artist</p>
                </a>

                <a
                    id="profile_link"
                    class="artist_group_hover"
                    target="_blank"
                    href="https://senentmarcos.com/"
                >
                    <img class="artist_icon" src="/01D_04_marcos_logo.png" />
                    <h2 class="artist_name">Marcos Senent</h2>
                    <p class="artist_type">Graphic design <br /> & 3D artist</p>
                </a>

                <a
                    id="profile_link"
                    class="artist_group_hover"
                    target="_blank"
                    href="https://www.pichuski.com"
                >
                    <img class="artist_icon" src="/01D_05_pati_logo.png" />
                    <h2 class="artist_name">Pichuski</h2>
                    <p class="artist_type">Visual <br /> developer</p>
                </a>

                <a
                    id="profile_link"
                    class="artist_group_hover"
                    target="_blank"
                    href="https://www.behance.net/lauradelpino"
                >
                    <img class="artist_icon" src="/01D_06_laura_logo.png" />
                    <h2 class="artist_name">Laura del Pino</h2>
                    <p class="artist_type">Character <br /> designer</p>
                </a>

                <a
                    id="profile_link"
                    class="artist_group_hover"
                    target="_blank"
                    href="https://linktr.ee/tereceratops"
                >
                    <img class="artist_icon" src="/01D_07_teresa_logo.jpeg" />
                    <h2 class="artist_name">Teresa Bueno</h2>
                    <p class="artist_type">Animator <br /><br /></p>
                </a>
            </div>
        </section>
    </body>
</Layout>
