---
import Layout from "../layouts/Layout_page.astro";
---

<Layout>
    <body id="body">
        <h1 class="page_section_title">"The soupman"</h1>
        <video controls autoplay class="reel">
            <source
                src="/public/W06_SOUPNAZI_MoiraFrigola_CLEAN.mov"
                type="video/mp4"
            />
        </video>
        <h1 class="page_section_title">"The chase"</h1>
        <video controls class="reel">
            <source
                src="/public/W09_CHASE_CLEANISH_MoiraFrigola.mov"
                type="video/mp4"
            />
        </video>
        <br />
        <br />
        <br />
        <h1 class="page_section_title">"The mailman"</h1>
        <video controls class="reel">
            <source src="/public/W02_MAILMAN_DOG.mov" type="video/mp4" />
        </video>
    </body>
</Layout>
