---
import VisdevMenu from "../components/VisdevMenu.astro";
import Layout from "../layouts/Layout_page.astro";

const currentPath = Astro.url.pathname;
---

<Layout>
    <body id="body">
        <section class="portfolio_page">
            <VisdevMenu currentPath={currentPath} />
            <br />
            <br />
            <br />
            <br />
            <br />

            <img class="pf_img" src="/public/09B_01_VISDEV.png" />
            <img class="pf_img" src="/public/09B_02_VISDEV.png" />
            <img class="pf_img" src="/public/09B_03_VISDEV.png" />
            <img class="pf_img" src="/public/09B_04_VISDEV.png" />
            <img class="pf_img" src="/public/09B_05_VISDEV.png" />
            <img class="pf_img" src="/public/09B_06_VISDEV.png" />
            <img class="pf_img" src="/public/09B_07_VISDEV.png" />
        </section>
    </body>
</Layout>
