@font-face {
    font-family: "moirahw";
    src: url("/Moirahw02.otf");
}

@font-face {
    font-family: "moirahwBOLD";
    src: url("/Moirahw02bold.otf");
}

@font-face {
    font-family: "Century Gothic";
    src: url("/GOTHIC.TTF");
}

* {
    font-family: "moirahw", "Century Gothic", sans-serif;
    margin: 0;
    text-decoration: none;
    font-size: 18px;
    color: var(--text-color);
}

:root {
    --text-color: black;
}

::selection {
    color: rgb(252, 255, 255);
    background: rgb(99, 220, 208);
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}














/* MAIN PAGE */


.MAINPAGE {
    flex: 1;
    position: relative;
    min-height: 400px;
    margin-top: 1%;
}

.Asize {
    width: 41%;
    pointer-events: painted;
}




.firma_GROUP {
    position: relative;
}

.firma {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: -1;
}

.meanim_GROUP {
    position: relative;
}

.meanim {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
    margin: auto;
    animation: alternarmeanim 2s infinite;
}


.sparkanim_GROUP {
    position: relative;
}

.sparkanim {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
    margin: auto;
    animation: alternarsparks 2s infinite;
    filter: brightness(130%);
}


/*animación me*/

.meanim:nth-child(1) {
    animation-delay: 0s;
}

.meanim:nth-child(2) {
    animation-delay: 0.5s;
}

.meanim:nth-child(3) {
    animation-delay: 1s;
}

.meanim:nth-child(4) {
    animation-delay: 1.5s;
}

@keyframes alternarmeanim {

    0%,
    24.99% {
        opacity: 1;
    }

    25%,
    100% {
        opacity: 0;
    }
}

/*animacion sparks*/


.sparkanim:nth-child(1) {
    animation-delay: 0s;
}

.sparkanim:nth-child(2) {
    animation-delay: 1s;
}

@keyframes alternarsparks {
    0% {
        opacity: 1;
    }

    49.99% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}



/*fin animacion*/


.props_GROUP {
    position: relative;
}

.prop {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    margin: auto;
}




.social_icons_GROUP {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    /* Espacio entre iconos */
    /* Añade la posición donde quieres que aparezca el grupo */
    top: 8vw;
    left: 30%;
}

.social_icon {
    width: 2.5vw;
}

/* Modifica la clase hover SOLO para los iconos sociales */
.social_icons_GROUP .hover {
    position: relative;
    display: inline-block;
    line-height: 0;
}




.BG_GROUP {
    position: relative;
}

.bg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    margin: auto;
    z-index: -2;
}



/*HOVERS*/

#link_cv:hover~.meanim {
    filter: hue-rotate(20deg);
    filter: brightness(120%);
}


#link_prop01:hover~.prop01 {
    filter: hue-rotate(100deg);
    filter: brightness(160%);
}


#link_prop02:hover~.prop02 {
    filter: hue-rotate(20deg);
    filter: brightness(140%);
}


#link_prop03:hover~.prop03 {
    filter: hue-rotate(20deg);
    filter: brightness(140%);
}

#link_prop04:hover~.prop04 {
    filter: hue-rotate(20deg);
    filter: brightness(140%);
}

#link_prop05:hover~.prop05 {
    filter: hue-rotate(20deg);
    filter: brightness(140%);
}

#link_prop06:hover~.prop06 {
    filter: hue-rotate(20deg);
    filter: brightness(140%);
}



.social_icon:hover {
    filter: hue-rotate(20deg);
    filter: brightness(130%);
}



/*LINKS*/

.hover {
    z-index: 1;
    display: inline-block;
    line-height: 0;
    position: absolute;

}


#link_cv {
    width: 20vw;
    height: 20vw;
    margin-top: 5vw;
    left: 36%;


}

#link_prop01 {
    width: 4vw;
    height: 5.5vw;
    margin-top: 34vw;
    left: 38%;


}


#link_prop02 {
    width: 4.8vw;
    height: 10vw;
    margin-top: 30vw;
    left: 41.5%;


}



#link_prop03 {
    width: 6vw;
    height: 5vw;
    margin-top: 34.5vw;
    left: 46%;


}


#link_prop04 {
    width: 4.2vw;
    height: 14vw;
    margin-top: 26vw;
    left: 51.5%;


}


#link_prop05 {
    width: 7.4vw;
    height: 5.8vw;
    margin-top: 34vw;
    left: 55%;


}

#link_prop06 {
    width: 5.8vw;
    height: 4.7vw;
    margin-top: 35vw;
    left: 62%;

}







/*PROPS TITLES*/

.prop_text {
    color: black;
    opacity: 0;
    font-size: 1.5vw;
    transform: translateY(-10px);
    transition: all 0.3s ease;
}



#title_prop01 {
    margin-top: 44vw;
    left: 36.3%;
}

#title_prop02 {
    margin-top: 44vw;
    left: 40.8%;
}

#title_prop03 {
    margin-top: 44vw;
    left: 45%;
}

#title_prop04 {
    margin-top: 44vw;
    left: 49.5%;
}

#title_prop05 {
    margin-top: 44vw;
    left: 55.5%;
}

#title_prop06 {
    margin-top: 44vw;
    left: 62.3%;
}


/*TITLE HOVERS*/

#link_prop01:hover~#title_prop01 {
    opacity: 1;
    transform: translateY(0);
}

#link_prop02:hover~#title_prop02 {
    opacity: 1;
    transform: translateY(0);
}

#link_prop03:hover~#title_prop03 {
    opacity: 1;
    transform: translateY(0);
}

#link_prop04:hover~#title_prop04 {
    opacity: 1;
    transform: translateY(0);
}

#link_prop05:hover~#title_prop05 {
    opacity: 1;
    transform: translateY(0);
}

#link_prop06:hover~#title_prop06 {
    opacity: 1;
    transform: translateY(0);
}






















/* NAVBAR */

.NAVBAR {
    width: 12vw !important;
    height: auto;
    margin: 6vh 4vw 6vh 4vw;
    overflow: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;

}

.nav_me {
    width: 10vw;
}


#navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
}

.nav_text {
    height: 2.5vw;
    margin-top: auto;
}

.nav_subtext {
    text-align: right;
    margin-right: 70px;
    margin-top: 10px;
    color: black;
    font-size: 90%;
}



/*NAV HOVERS*/
.nav_text:hover {
    color: #ff5d5d;
}

.nav_subtext:hover {
    color: #ff5d5d;

}

.hover_keep {
    color: #ff5d5d;
}





/* NAVBAR SOCIAL ICONS*/

.nav_social_MAIN {
    display: grid;
    margin-top: 5vh;
}

.nav_email_group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.nav_redes_group {
    display: flex;
    align-items: center;
    justify-items: center;
    margin: auto;
}


.nav_icon_email {
    width: 3.3vw;
    margin-right: 7px;
}

.nav_icon {
    width: 2vw;
}








/*PAGES STRUCTURE*/

.page_section_title {
    color: black;
    font-size: 2vw;
    text-align: center;
    margin: 10vh auto 5vh auto;
    padding-left: 20vw;
}

.page_section_text {
    color: black;
    font-size: 1.5vw;
    text-align: center;
    justify-content: center;
    margin: 10vh auto 10vh auto;
    padding-left: 20vw;
}

.coming_soon {
    margin-top: 25vh;
    margin-bottom: 30vh;
}









/*PORTFOLIO LAYOUT MENUS*/

.pf_img {
    width: 61vw;
    display: flex;
    text-align: center;
    align-items: center;
    margin: auto;
    margin-left: 30vw;
    margin-bottom: 2vh;
}

.portfolio_page_titleicon {
    max-width: 61vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 30px auto 100px auto;
    margin-left: 30vw;

}

.portfolio_page_titleicon_item {
    margin: 0.2vw;
    width: 30vw;
    padding: 10px;


}

.portfolio_page_titleicon_item.active {
    background: #d8e3c5;
    border-radius: 5px;
}

.visdevmenufixed {
    position: fixed;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 0;

}


.pf_img_titleicon {
    width: 20vw;
}

.pf_text_titleticon {
    text-align: center;
    font-size: 1.5vw;
    white-space: nowrap;
}









/* 3D */

.page_3d_title {
    font-size: 1.2vw !important;

}

.blendervideo {
    margin: 10px;
    border: #538378;
    border-style: solid;
    border-width: 1px;
}

.model_group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    margin-left: 20vw;
}


.sargo {
    margin-top: 40px;
    width: 40vw;
}

.jelly {
    margin-top: 40px;
    width: 22.5vw;

}

.birds {
    width: 31.2vw;
}

.duck_title_group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
}






/* REEL */
.reel {
    width: 61vw;
    display: flex;
    text-align: center;
    align-items: center;
    margin: auto;
    margin-left: 30vw;
}






/* PORTFOLIO */

.portfolio {
    width: 61vw;
    display: flex;
    text-align: center;
    align-items: center;
    max-width: 800px;
    margin: auto;
    padding-left: 20vw
}

.bio_text {
    color: black;
    font-size: 18px;
    text-align: justify;
    justify-content: center;
    margin: 10vh 15vw 3vh 15vw;
    padding-left: 20vw;
}






/* OTHER ARTISTS  */

.people {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0px;
    max-width: 900px;
    margin: auto;
    padding-left: 20vw
}

.artist_icon {
    width: 18vw;
    margin: 1vw;
    text-align: center;
}

.artist_group_hover:hover {
    filter: saturate(150%);
    background-color: #e7e7df;

}







/* CONTACT ME */


.email_page_group {
    max-width: 800px;
    display: grid;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 20vh;

}

.copy_button {
    padding-left: 20vw;
    margin-top: -8vh;
    border: none;
    background-color: transparent;
}

.copy_icon {
    width: 30vw;
}

.copy_icon:hover {
    background-color: #c9c9b8;
}



















/* FOOTER */
.footer {
    color: #aaa9a7;
    font-size: 0.9vw;
    text-align: center;
    margin: auto;
    margin-bottom: 4vh;

}

.footer_page {
    margin-top: 2vh;
}


#profile-link {
    color: rgb(111, 105, 106);
    font-size: 0.9vw;
}

/*añadir que si el footer esta en una pag de pf le añada margin-left= 20vw; extras
creo que al final cambie el footer a la navbar asique ya no hace falta(?)*/


























/* FOR PHONE */

@media (max-width: 768px) {

    .MAINPAGE {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 200vw;
    }


    /*LINKS*/


    #link_cv {
        width: 40vw;
        height: 40vw;
        margin-top: 10vw;
        left: 36%;
    }

    #link_prop01 {
        width: 8vw;
        height: 11vw;
        margin-top: 68vw;
        left: 38%;

    }


    #link_prop02 {
        width: 9.6vw;
        height: 20vw;
        margin-top: 59vw;
        left: 41.5%;

    }



    #link_prop03 {
        width: 12vw;
        height: 10vw;
        margin-top: 69vw;
        left: 46%;

    }


    #link_prop04 {
        width: 8.4vw;
        height: 28vw;
        margin-top: 51vw;
        left: 51.5%;

    }


    #link_prop05 {
        width: 14.8vw;
        height: 11.6vw;
        margin-top: 67.5vw;
        left: 55%;

    }

    #link_prop06 {
        width: 11.6vw;
        height: 9.4vw;
        margin-top: 69.5vw;
        left: 62%;

    }




    .social_icons_GROUP {
        margin-top: 2vh;
    }

    .social_icon {
        width: 7vw;

    }






    /*TEXTOS*/

    .bio_text {
        font-size: 3vw;
        /* esto hace mas peque el texto de CV */

    }

    .page_section_title {
        font-size: 4vw;
    }

}