---
import "../styles.css";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/svg+xml" href="/vite.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Moira Framos</title>
        <link rel="stylesheet" href="/styles.css" />
        <link
            rel="icon"
            type="image/png"
            href="/favicon-96x96.png"
            sizes="96x96"
        />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/apple-touch-icon.png"
        />
        <link rel="manifest" href="/site.webmanifest" />
        <meta name="apple-mobile-web-app-title" content="Moira Framos" />
        <meta name="application-name" content="Moira Framos" />
        <meta name="msapplication-TileColor" content="#da532c" />
        <meta name="theme-color" content="#ffffff" />
        <meta name="description" content="Layout and vis. dev. artist" />
    </head>

    <body>
        <section class="NAVBAR">
            <a class="nav_me_link" href="/">
                <img class="nav_me" src="/public/01B_02me.png" />
            </a>

            <nav id="navbar" class="hidden space-y-x">
                <a class="nav_link" href="/visdev">
                    <img
                        class="nav_text"
                        src="/public/02B_04_visdev.png"
                        alt="Vis. dev."
                    /></a
                >
                <!-- <a class="nav_link" href="/chardesign">
                    <h2 class="nav_subtext nav_hover">Character design</h2>
                </a>
                <a class="nav_link" href="/concept">
                    <h2 class="nav_subtext nav_hover">Concept art</h2>
                </a>
                <a class="nav_link" href="/props">
                    <h2 class="nav_subtext nav_hover">Props</h2>
                </a>  -->

                <a class="nav_link" href="/storyboard">
                    <img
                        class="nav_text"
                        src="/public/02B_08_story.png"
                        alt="Storyboard"
                    /></a
                >
                <a class="nav_link" href="/layout">
                    <img
                        class="nav_text"
                        src="/public/02B_03_ly.png"
                        alt="Layout"
                    /></a
                >
                <!--  <a class="nav_link" href="/posing">
                    <h2 class="nav_subtext nav_hover">Posing</h2>
                </a>
                <a class="nav_link" href="/layout">
                    <h2 class="nav_subtext nav_hover">Layout</h2>
                </a>  -->

                <a class="nav_link" href="/bg">
                    <img
                        class="nav_text"
                        src="/public/02B_02_bg.png"
                        alt="Backgrounds"
                    /></a
                >
                <a class="nav_link" href="/animation">
                    <img
                        class="nav_text"
                        src="/public/02B_01_anim.png"
                        alt="Animation"
                    /></a
                >

                <a class="nav_link" href="/3D">
                    <img
                        class="nav_text"
                        src="/public/02B_05_3d.png"
                        alt="3D"
                    /></a
                >

                <a class="nav_link" href="/cv"
                    ><img
                        class="nav_text"
                        src="/public/02B_06_cv.png"
                        alt="CV"
                    /></a
                >

                <a class="nav_link" href="/people">
                    <img
                        class="nav_text"
                        src="/public/02B_07_people.png"
                        alt="People"
                    /></a
                >

                <div class="nav_social_MAIN">
                    <div class="nav_email_group"></div>

                    <div class="nav_redes_group">
                        <a id="nav_link" target="_blank" href="/contact"
                            ><img
                                class="nav_icon_email"
                                src="/public/02B_email.png"
                            />
                        </a>
                        <a
                            id="nav_link"
                            target="_blank"
                            href="https://www.instagram.com/moira_framos/"
                            ><img
                                class="nav_icon"
                                src="/public/03B_insta.png"
                            />
                        </a>

                        <a
                            id="nav_link"
                            target="_blank"
                            href="https://www.linkedin.com/in/moiraframos/"
                            ><img class="nav_icon" src="/public/04B_in.png" />
                        </a>

                        <a
                            id="nav_link"
                            target="_blank"
                            href="https://github.com/moiraframos"
                            ><img
                                class="nav_icon"
                                src="/public/05B_git.png"
                            /></a
                        >
                    </div>
                </div>
            </nav>
        </section>
        <slot />
        <footer>
            <h2 class="footer footer_page">
                Web design by Moira Framos, developed by Moira Framos with the
                support of <a
                    id="profile-link"
                    target="_blank"
                    href="https://www.crissto.dev/">Crissto</a
                >
            </h2>
        </footer>
    </body>
</html>
